*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    background-color: black;
}

.container{
    
    max-width: 1500px;
    margin: auto;
   height: 700px;
}



.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

img{
    width: 300px;
    display: block;
    padding-bottom: 2rem;
   
}

.member{
    background-color: blue;
    border: 1px solid black;
    padding-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: red;
}

h1, p {
    padding: 1rem;
    text-align: center;
    color: white;
    
}